$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$main: #ff5722;
$hover_main: #ff7e55;
$dark: #303841;
$hover_dark: #46515e;
$white: #eeeeee;
