.product-info {
  a {
    position: relative;
    top: 50px;
  }
}

.product-subinfo {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: black;
  }
}

.call-to-action {
  a {
    background-color: $main;
    border-radius: 20px;
    padding: 12px;
    color: black;
    display: block;
  }
  &:hover {
    color: black;
  }
}

#hidden-btn {
  a {
    background-color: $main;
    border-radius: 20px;
    padding: 12px;
    color: black;
    display: block;
  }
  &:hover {
    color: black;
  }
}

.hide-content {
  overflow: hidden;
  line-height: 1em;
  height: 2em;
}

.show-content {
  color: black;
  height: auto;
}

#hide {
  padding-left: 42px;
  padding-right: 42px;
  line-height: 2;
}

.user-info {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  img {
    position: relative;
    bottom: 13px;
  }
}
