  <div class="container">
    <%= simple_form_for @booking do |f| %>
      <div class="row">
        <div class="col">
          <%= f.input :start_date, as: :date, html5: true, required: true, autofocus: true %>
        </div>
        <div class="col">
          <%= f.input :end_date, as: :date, html5: true, required: true, autofocus: true %>
        </div>
      </div>
      <%= f.button :submit, id: 'booking-btn', class: 'btn btn-lg btn-block', value: 'Book now' %>
    <% end %>
  </div>
