<div class="about-us-page">
  <h2>About Eocene<h2>
  <br>
  <p>
  Do you want to find equipment for any and all adventure sports? And save money at the same time? Then you need Eocene!
  </p>
  <p>
  Renting surfboards, skis, climbing equipment can be expensive, nevermind buying your own. Eocene links you to local people who have the equipment you want!
  </p>
  <p>
  If you have a snowboard you use once every two years, upload it to Eocene and make some money from your equipment thats gathering dust in the garage!
  </p>
  <br>
  <br>
  <br>
  <h4>Need to contact us?</h4>
  <p>
  Send us an email at:
  </p>
  <p>
  eocene@eocene.com
  </p>
  <p>
  Call us on:
  </p>
  <p>
  0800 333 4671
  </p>
</div>
