<ul class="list-inline tabs-underlined my-4">
  <li>
    <a href="#" class="tab-underlined active">Account Settings</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">My Listings</a>
  </li>
</ul>
