<div class="banner">
  <%= render "shared/searchform" %>
</div>

<div class="cards-grid" >
  <%# Winter Sports %>
  <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1580128789542-d484253e94a3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNjdWJhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
    <div class="card-info">
      <h2>Winter Sports</h2>
      <p>Ride down the mountain with confidance</p>
    </div>
    <div class="overlay">
      <div class="text">Show more</div>
    </div>
  </div>
  <%# Trekk %>
  <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1580128789542-d484253e94a3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNjdWJhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
    <div class="card-info">
      <h2>Trekk</h2>
      <p>It's longer journey without the correct gear</p>
    </div>
    <div class="overlay">
      <div class="text"><a href="">Show more</a></div>
    </div>
  </div>
  <%# Surf %>
  <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1580128789542-d484253e94a3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNjdWJhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
    <div class="card-info">
      <h2>Surf</h2>
      <p>Improve your surf with top notch equipment</p>
    </div>
    <div class="overlay">
      <div class="text"><a href="">Show more</a></div>
    </div>
  </div>
  <%# Dive %>
  <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1580128789542-d484253e94a3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNjdWJhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
    <div class="card-info">
      <h2>Dive</h2>
      <p>Go underwater with just the right help</p>
    </div>
    <div class="overlay">
      <div class="text"><a href="">Show more</a></div>
    </div>
  </div>
  <%# Bike %>
  <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1580128789542-d484253e94a3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNjdWJhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
    <div class="card-info">
      <h2>Bike</h2>
      <p>Ride down the moutain with the right tools</p>
    </div>
    <div class="overlay">
      <div class="text"><a href="">Show more</a></div>
    </div>
  </div>
  <%# Other %>
  <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1580128789542-d484253e94a3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNjdWJhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
    <div class="card-info">
      <h2>Other</h2>
      <p>Explore all the other equipment we have to offer</p>
    </div>
    <div class="overlay">
      <div class="text"><a href="">Show more</a></div>
    </div>
  </div>
</div>
