<h1>Eocene ~~ Pretend this is a nav bar</h1>
<div class="banner" style="background-image: url( <%= asset_path("banner.jpg") %> );">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="banner-text">
  <h3>This will be  brief chat about Eocene </h3>
  </div>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>
</div>
