<div class="row my-4 mx-0">
  <ul class="list-inline tabs-underlined my-4 mx-5">
    <li>
      <h3><a href="<%= listings_path(current_user) %>" class="tab-underlined">My Listings</a></h3>
    </li>
    <li>
      <h3><a href="<%= purchases_path(current_user) %>" class="tab-underlined active">Past Purchases</a></h3>
    </li>
    <li>
      <h3><a href="<%= settings_path(current_user) %>" class="tab-underlined">Settings</a></h3>
    </li>
  </ul>
  <div class="col-7">
    <div class="cards">
      <% current_user.bookings.each do |booking| %>
        <%= render 'shared/card-product', item: booking.item %>
      <% end %>
    </div>
  </div>
</div>
