<div class="container mt-2">
  <h1>Edit item</h1>
</div>

<%= render 'shared/form', item: @item %>

<div class="container">
  <div type="button" id="submit-button" class="btn btn-lg mt-3 mx-auto" style="display: block; width: 200px;">
    <%= link_to 'Go back', item_path(@item) %>
  </div>
</div>
