<div class="main-container">
  <div class="search-form">
    <%= render "shared/searchform" %>
  </div>
  <div class="row">
    <div class="col-4">
      <%= render "shared/filterform" %>
    </div>
    <div class="col-8">
      <div class="cards">
        <% @items.each do |item| %>
          <%= render 'shared/card-product', item: item %>
        <% end %>
      </div>
    </div>
  </div>
</div>
