.card-filter {
  min-height: 400px;
  width: 75%;
  position: sticky;
  top: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 15px 80px;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
}

.tag-item {
  display: flex;
  padding: 6px;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 50rem;
  padding: 0.5rem 0.5rem;
  background-color: #ECEAFF;
  color: $hover_main;
  border: 1px solid $hover_main;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  width: 50%;
  height: 35px;
  text-align: center;
}

.tag-selector:checked + label {
  background-color: $hover_main;
  color: white;
}

.btn:hover {
  color: $hover_main;
}
