.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  a {
    text-decoration: none;
    color: $dark;
  }
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 31px;
  padding: 31px;
  place-items: center;
  a {
    text-decoration: none;
    color: $dark;
    width: 100%;
  }
}
