
/* FIRST BOX */
.info-box {
  width: 60%;
  margin: 16px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  height: fit-content;
  padding: 36px;
  padding-top: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 1px 1px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 18px;
  a {
    text-decoration: none;
    display: inline-block;
    color: black;
    &:hover {
      color: $main;
      opacity: 0.6;
    }
  }
  i {
    color: $main;
  }
  h5 {
    padding: 10px;
  }
}

/* SECOND BOX */
#signup-box {
  width: 100%;
  height: fit-content;
  margin-bottom: 24px;
  border-radius: 3px;
  padding: 12px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  a {
    text-decoration: none;
    display: inline-block;
    background-color: $main;
    color: black;
    &:hover {
      color: black;
    }
  }
}

#description-box {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 3px;
  padding: 12px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  a {
    text-decoration: none;
    color: $main;
    font-weight: bolder;
    &:hover {
      color: $hover_main;
    }
  }
}

.hidden {
  display: none;
}
