
/* FIRST BOX */
.info-box {
  width: 50%;
  margin: 16px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  height: 375px;
  padding: 36px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 1px 1px rgba(0,0,0,0.1);
  text-align: center;
  h2 {
    padding-bottom: 36px;
  }
}

/* SECOND BOX */
.signup-box {
 width: 100%;
 height: 200px;
 margin: 16px;
 border-radius: 3px;
 padding: 12px;
 border-radius: 3px;
 background-color: white;
}
