.navbar-lewagon {
  justify-content: space-between;
  background: $white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  height: 50px;
  padding: 0px 15px;
  margin: 5px 0px;
}

.navbar-lewagon .navbar-brand img {
  height: -webkit-fill-available;
}

.navbar-brand {
  z-index: 2;
}

.navbar-text {
  position: absolute;
  padding-left: 50px;
  display: flex;
}

.btn-ghost {
  color: $main;
  border: 1px solid $main;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
