.action-buttons {
  // display: flex;
  justify-content: space-between;
  margin-left: 18px;
  margin-right: 18px;
  a {
    color: $main;
    font-size: 12px;
    &:hover {
      color: $hover_main;
      cursor: pointer;
    }
  }
  p {
    color: $main;
    font-size: 12px;
    &:hover {
      color: $hover_main;;
      cursor: pointer;
    }
  }
}
